$love-content-color: #606266;
$love-author-color: #616161;
$love-tips-color: #909399;
$love-light-color: #c0c4cc;
$love-border-color: #e4e7ed;
// $love-bg-color: #ff828f;
// $love-bg-color: #f2f3f4;
$love-bg-color: #fff;
$love-bgrey-color: #F5F5F5;
// $$love-bgrey-color: #f7f7f7;
$love-main-color: rgba(255, 150, 172, 1);
// $love-color:#ff828f;
$love-color:#ff6773;
// $love-color:#FF6666;
$love-color2:#FFFF66;
$love-color3:#99CC33;


$love-blue:#0099FF;
$love-yellow:#FFFF66;
$love-green:#cfe46e;
$love-pink:#ff6773;
$love-purple:#6532d7;
$love-red: #ff3757;


$love-margin: 20rpx;
$love-view-margin: 20rpx;
$love-big-margin: 28rpx;
$love-padding: 16rpx;
$love-view-padding: 24rpx;
$love-big-padding: 28rpx;
$love-border-radius: 20rpx;

